<% layout("layouts/boilerplate") %>
<body>
  <br />
  <h3>Create a New Listing</h3>
  <div class="row mt-3">
    <div class="col-7 offset-2">
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">title</label>
          <input
            name="listing[title]"
            placeholder="enter title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">title looks good</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <textarea
            name="listing[description]"
            placeholder="enter description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">write short description</div>
        </div>
        <!-- <div class="mb-3">
          <label for="image" class="form-label">IMG URL</label>
          <input
            name="listing[image]"
            placeholder="enter image URL/Link"
            type="text"
            class="form-control"
          />
        </div> -->
        <div class="mb-3">
          <label for="image" class="form-label">upload image</label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
            required
          />
        </div>
        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">price</label>
            <input
              name="listing[price]"
              placeholder="1800"
              class="form-control"
              required
            />
            <div class="invalid-feedback">enter valid price</div>
          </div>
          <div class="mb-3 col-8">
            <label for="country" class="form-label">country</label>
            <input
              name="listing[country]"
              placeholder="Pakistan"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">country must be chosen</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">location</label>
          <input
            name="listing[location]"
            placeholder="enter location"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">enter correct location</div>
        </div>
        <button class="btn btn-dark mb-3">Add</button>
      </form>
    </div>
  </div>
</body>
